
<section class="aboutMe">
  <div class="container">
    <div class="sectionTitle wow slideInUp" id="about">
      <h2 class="sectionTitle__text" id="about">Обо мне</h2>
      <div class="sectionTitle__icon"><i class="fa fa-user" aria-hidden="true"></i></div>
    </div>
    <div class="row">
      <div class="col">
        <p class="aboutMe__info">Приветствую Вас на своем сайте-портфолио. Меня зовут Алескей. Живу в Москве. Занимаюсь HTML-версткой сайтов.  У меня полностью кроссбраузерная, адаптивная и валидная верстка. Для обеспечения выполнения требований, предъявляемых к верстке сайта в процессе работы над проектом я использую сборщик проектов Gulp для автоматизации процесса верстки, препроцессоры Less/Sass для ускоренной стилизации сайта и более гибкого кода, шаблонизатор Pug, Pixel Perfect для верстки, совпадающей с предоставленным макетом «пиксель в пиксель», БЭМ, Bootstrap, Smartgrid и media-запросы для адаптивной верстки сайта. Динамика сайта организуется собственным jQuery кодом или настроенными плагинами. В конце работы осуществляется проверка отображения верстки в различных браузерах на разных устройствах, код проверяется валидатором на соответствие стандартам и устраняются выявленные ошибки.</p>
      </div>
    </div>
  </div>
</section>