
<section class="contact">
  <div class="container">
    <div class="sectionTitle wow slideInUp" id="contact">
      <h2 class="sectionTitle__text" id="about">Контакты</h2>
      <div class="sectionTitle__icon"><i class="fa fa-comment" aria-hidden="true"></i></div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="contactItem contactItem--hover-bg1">
          <div class="contactItem__logo"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
          <h5 class="contactItem__title">Адрес</h5>
          <p class="contactItem__text">Russia</p>
          <p class="contactItem__text">Moscow</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="contactItem contactItem--hover-bg2">
          <div class="contactItem__logo"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
          <h5 class="contactItem__title">Email</h5>
          <p class="contactItem__text"><a class="contactItem__link" href="mailto:mikhalich2701@gmail.com">mikhalich2701@gmail.com</a></p>
          <p class="contactItem__text"><a class="contactItem__link" href="mailto:mikhalich2701@yandex.ru">mikhalich2701@yandex.ru</a></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="contactItem contactItem--hover-bg3">
          <div class="contactItem__logo"><i class="fa fa-mobile" aria-hidden="true"></i></div>
          <h5 class="contactItem__title">Phone</h5>
          <p class="contactItem__text"><a class="contactItem__link" href="tel:+79263636824">+7 (926) 363 68 24 </a></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="contactItem contactItem--hover-bg4">
          <div class="contactItem__logo"><i class="fa fa-skype" aria-hidden="true"></i></div>
          <h5 class="contactItem__title">Skype</h5>
          <p class="contactItem__text"><a class="contactItem__link" href="skype:live:mikhalich2701_1">live:mikhalich2701_1</a></p>
        </div>
      </div>
    </div>
  </div>
</section>