
<header class="header"><img class="bg" src="img/bg_wave.svg" alt="Wave"/>
  <div class="container">
    <h5 class="header__subtitle subtitle">Бесплатный<span>тест</span>  личности</h5>
    <h3 class="header__title">Найдите свои сильные<br>и слабые<span class="accentColor"> стороны</span></h3>
    <p class="header__text">Отличный инструмент, чтобы помочь всем людям,<br>заинтересованным в карьере и личном развитии</p>
    <button class="header__button button">Я готов пройти тест</button>
  </div>
</header>