
<section class="pageProofs">
  <div class="container">
    <div class="sectionTitle wow slideInUp" id="pageproofs">
      <h2 class="sectionTitle__text" id="about">Процесс верстки</h2>
      <div class="sectionTitle__icon"><i class="fa fa-legal" aria-hidden="true"></i></div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="step">
          <div class="step__way step__way--way1"></div>
          <div class="step__icon"><i class="fa fa-scissors" aria-hidden="true"></i></div>
          <p class="step__name">Работа с макетом</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 wow bounceInRight" data-wow-delay=".2s">
        <div class="step">
          <div class="step__way step__way--way2"></div>
          <p class="step__name">Верстка контента</p>
          <div class="step__icon"><i class="fa fa-html5" aria-hidden="true"></i></div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 wow bounceInRight" data-wow-delay=".4s">
        <div class="step">
          <div class="step__way step__way--way3"></div>
          <div class="step__icon"><i class="fa fa-css3" aria-hidden="true"></i></div>
          <p class="step__name">Стилизация сайта</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 wow bounceInRight" data-wow-delay=".6s">
        <div class="step">
          <div class="step__way step__way--way4"></div>
          <p class="step__name">Адаптивная верстка</p>
          <div class="step__icon"><i class="fa fa-mobile" aria-hidden="true"></i></div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 wow bounceInRight" data-wow-delay=".8s">
        <div class="step">
          <div class="step__way step__way--way5"></div>
          <div class="step__icon"><i class="fa fa-internet-explorer" aria-hidden="true"></i></div>
          <p class="step__name">Проверка в браузерах</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 wow bounceInRight" data-wow-delay="1s">
        <div class="step">
          <p class="step__name">Устранение ошибок</p>
          <div class="step__icon"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <h3 class="pageProofs__resurseTitle">Что я использую в процессе верстки</h3>
      <div class="slider">
        <div class="slider__button slider__button--prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
        <div class="slider__button slider__button--next"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
        <div class="slider__row">
          <div class="slider__item"><img class="img" src="img/avocode-logo.jpg" alt="Ресурсы"/></div>
          <div class="slider__item"><img class="img" src="img/bootstrap-logo.jpg" alt="Ресурсы"/></div>
          <div class="slider__item"><img class="img" src="img/gulp-logo.jpg" alt="Ресурсы"/></div>
          <div class="slider__item"><img class="img" src="img/html-logo.jpg" alt="Ресурсы"/></div>
          <div class="slider__item"><img class="img" src="img/JavaScript.jpg" alt="Ресурсы"/></div>
          <div class="slider__item"><img class="img" src="img/jquery-logo.jpg" alt="Ресурсы"/></div>
          <div class="slider__item"><img class="img" src="img/less-logo.jpg" alt="Ресурсы"/></div>
          <div class="slider__item"><img class="img" src="img/photoshop-logo.jpg" alt="Ресурсы"/></div>
          <div class="slider__item"><img class="img" src="img/pixel-logo.jpg" alt="Ресурсы"/></div>
          <div class="slider__item"><img class="img" src="img/sass.jpg" alt="Ресурсы"/></div>
          <div class="slider__item"><img class="img" src="img/figma.jpg" alt="Ресурсы"/></div>
          <div class="slider__item"><img class="img" src="img/pug.jpg" alt="Ресурсы"/></div>
          <div class="slider__item"><img class="img" src="img/smart.jpg" alt="Ресурсы"/></div>
        </div>
      </div>
    </div>
  </div>
</section>