
<section class="skills paralax">
  <div class="container">
    <div class="sectionTitle sectionTitle--white wow slideInUp" id="skills">
      <h2 class="sectionTitle__text" id="about">Мои навыки</h2>
      <div class="sectionTitle__icon sectionTitle__icon--white"><i class="fa fa-cog" aria-hidden="true"></i></div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="skillItem">
          <h4 class="skillItem__title subtitle">HTML5/CSS3</h4>
          <ul class="skillItem__list">
            <li class="skillItem__skill">Валидный, кроссбраузерный код</li>
            <li class="skillItem__skill">Семантичная верстка</li>
            <li class="skillItem__skill">Структутированный код</li>
            <li class="skillItem__skill">Анимация, hover-эффекты без JS</li>
            <li class="skillItem__skill">PixelPerfect</li>
            <li class="skillItem__skill">Методология БЭМ</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="skillItem">
          <h4 class="skillItem__title subtitle">Javascript/JQuery</h4>
          <ul class="skillItem__list">
            <li class="skillItem__skill">Свой Javascript/JQuery код</li>
            <li class="skillItem__skill">Настроенные JQuery плагины</li>
            <li class="skillItem__skill">API Карт - Яндекс</li>
            <li class="skillItem__skill">Комментируемый код</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="skillItem">
          <h4 class="skillItem__title subtitle">Photoshop/Figma</h4>
          <ul class="skillItem__list">
            <li class="skillItem__skill">Нарезка изображений из макета</li>
            <li class="skillItem__skill">Оптимизация изображений для Web</li>
            <li class="skillItem__skill">Экспорт SVG-изображений</li>
            <li class="skillItem__skill">Экспорт стилей для ускоренной верстки</li>
            <li class="skillItem__skill">Создание спрайтов</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="skillItem">
          <h4 class="skillItem__title subtitle">Gulp/Pug</h4>
          <ul class="skillItem__list">
            <li class="skillItem__skill">Быстрое разворачивание проекта</li>
            <li class="skillItem__skill">Автоматизация процесса верстки</li>
            <li class="skillItem__skill">Компиляция препроцессоров</li>
            <li class="skillItem__skill">Использование шаблонизаторов </li>
            <li class="skillItem__skill">Минификация файлов</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="skillItem">
          <h4 class="skillItem__title subtitle">Bootstrap/Smart-grid</h4>
          <ul class="skillItem__list">
            <li class="skillItem__skill">Высокая скорость разработки сайта</li>
            <li class="skillItem__skill">Кроссбраузерность и адаптивность сайта</li>
            <li class="skillItem__skill">Готовые шаблоны элементов сайта</li>
            <li class="skillItem__skill">Оптимизированная навигация</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="skillItem">
          <h4 class="skillItem__title subtitle">Less/Sass</h4>
          <ul class="skillItem__list">
            <li class="skillItem__skill">Ускоренная стилизация сайта</li>
            <li class="skillItem__skill">Более гибкий код</li>
            <li class="skillItem__skill">Улучшенная логика стилей</li>
            <li class="skillItem__skill">Упрощенный синтаксис</li>
            <li class="skillItem__skill">Вложенность селекторов без ошибок</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>