
<section class="works paralax">
  <div class="container">
    <div class="sectionTitle sectionTitle--white wow slideInUp" id="work">
      <h2 class="sectionTitle__text" id="about">Портфолио</h2>
      <div class="sectionTitle__icon sectionTitle__icon--white"><i class="fa fa-camera" aria-hidden="true"></i></div>
    </div>
    <div class="row justify-content-center">
      <nav class="worksNav">
        <ul class="worksNav__nav">
          <li class="worksNav__item"><a class="button worksNav__button filter" data-filter="all">Все работы</a></li>
          <li class="worksNav__item"><a class="button worksNav__button filter" data-filter=".product">Выполненные</a></li>
          <li class="worksNav__item"><a class="button worksNav__button filter" data-filter=".bootstrap">Bootstrap</a></li>
          <li class="worksNav__item"><a class="button worksNav__button filter" data-filter=".smartgrid">Smartgrid</a></li>
          <li class="worksNav__item"><a class="button worksNav__button filter" data-filter=".adaptive">Без фреймворков</a></li>
        </ul>
      </nav>
    </div>
    <div class="row">
      <div class="worksBox" id="contianer">
        <div class="boxItem bootstrap product">
          <div class="boxItem__way">
            <div class="boxItem__content">
              <p class="boxItem__text">Сборщик Gulp. Адаптив на bootstrap.Многостраничник. Сданный проект</p><a class="button boxItem__button" href="https://mikhalich2701.github.io/gmg/" target="_blank">Посмотреть</a>
            </div>
          </div><img class="boxItem__img" src="img/gmg.jpg" alt="Сайт"/>
        </div>
        <div class="boxItem bootstrap">
          <div class="boxItem__way">
            <div class="boxItem__content">
              <p class="boxItem__text">Сборщик Gulp. Адаптив на bootstrap</p><a class="button boxItem__button" href="https://mikhalich2701.github.io/introdiz/" target="_blank">Посмотреть</a>
            </div>
          </div><img class="boxItem__img" src="img/introdiz.jpg" alt="Сайт"/>
        </div>
        <div class="boxItem bootstrap">
          <div class="boxItem__way">
            <div class="boxItem__content">
              <p class="boxItem__text">Мой сайт. SVG-вариант</p><a class="button boxItem__button" href="http://mikhalich.su/newfolio/" target="_blank">Посмотреть</a>
            </div>
          </div><img class="boxItem__img" src="img/newfolio.png" alt="Сайт"/>
        </div>
        <div class="boxItem bootstrap product">
          <div class="boxItem__way">
            <div class="boxItem__content">
              <p class="boxItem__text">Сборщик Gulp. Адаптив на bootstrap.Многостраничник. Сданный проект</p><a class="button boxItem__button" href="http://mikhalich.su/ido/" target="_blank">Посмотреть</a>
            </div>
          </div><img class="boxItem__img" src="img/ido.png" alt="Сайт"/>
        </div>
        <div class="boxItem bootstrap product">
          <div class="boxItem__way">
            <div class="boxItem__content">
              <p class="boxItem__text">Сборщик Gulp. Адаптив на bootstrap. Сданный проект</p><a class="button boxItem__button" href="http://mikhalich.su/bigwin/" target="_blank">Посмотреть</a>
            </div>
          </div><img class="boxItem__img" src="img/bigwin.png" alt="Сайт"/>
        </div>
        <div class="boxItem adaptive">
          <div class="boxItem__way">
            <div class="boxItem__content">
              <p class="boxItem__text">Сайт с чистым js и адаптивом без фреймворков</p><a class="button boxItem__button" href="https://mikhalich2701.github.io/topclass/" target="_blank">Посмотреть</a>
            </div>
          </div><img class="boxItem__img" src="img/topclass.jpg" alt="Сайт"/>
        </div>
        <div class="boxItem smartgrid">
          <div class="boxItem__way">
            <div class="boxItem__content">
              <p class="boxItem__text">Сборщик Gulp. Адаптив на smartgrid. Многостраничник.</p><a class="button boxItem__button" href="https://mikhalich2701.github.io/socialagency/" target="_blank">Посмотреть</a>
            </div>
          </div><img class="boxItem__img" src="img/social.jpg" alt="Сайт"/>
        </div>
        <div class="boxItem bootstrap product">
          <div class="boxItem__way">
            <div class="boxItem__content">
              <p class="boxItem__text">Сборщик Gulp. Адаптив на bootstrap.Многостраничник. Сданный проект</p><a class="button boxItem__button" href="http://mikhalich.su/nano/" target="_blank">Посмотреть</a>
            </div>
          </div><img class="boxItem__img" src="img/nano.png" alt="Сайт"/>
        </div>
      </div>
    </div>
  </div>
</section>