/*====================DEFAULT SETTINGS=================*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666;
}

html,
body {
  height: 100%;
  font-family: "montserrat";
  font-family: 18px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: "montserrat";
}

h1,
.h1 {
  font-size: 84px;
}

h2,
.h2 {
  font-size: 59px;
}

h3,
.h3 {
  font-size: 58px;
  text-transform: uppercase;
}

h4,
.h4 {
  font-size: 23px;
}

h5,
.h5 {
  font-size: 22px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button,
input,
select,
a,
textarea {
  border: none;
  outline: none;
  cursor: pointer;
}

button:active,
button:focus,
input:active,
input:focus,
select:active,
select:focus,
a:active,
a:focus,
textarea:active,
textarea:focus {
  border: none;
  outline: none;
}

/*================================ADD CLASS=============================*/

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*==================================BEM===============================*/

.bg {
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  bottom: 0;
}

.subtitle {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5.06px;
}

.accentColor {
  color: #fdb300;
}

.button {
  display: block;
  padding: 22px 33px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.48px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75), 0 0 35px rgba(253, 190, 0, 0.75);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75), 0 0 35px rgba(253, 190, 0, 0.75);
  border: 3px solid #fdbe00;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fdbe00;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  -o-transition: box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.button:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
}

.button:active {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
}

/*==================================SITE===============================*/

/*=========================HEADER==========================*/

.header {
  width: 100%;
  position: relative;
  padding-top: 214px;
  padding-bottom: 326px;
  background: url("../img/bg.png") center top no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.header__subtitle {
  padding-bottom: 28px;
  text-align: center;
}

.header__subtitle span {
  display: inline-block;
  position: relative;
  margin: 0 10px;
}

.header__subtitle span:after {
  display: block;
  position: absolute;
  content: "";
  width: 130%;
  height: 220%;
  left: -15%;
  top: -60%;
  background: url("../img/bg_word.png") center top no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: -1;
}

.header__title {
  margin-bottom: 42px;
  line-height: 60px;
  font-weight: 400;
  text-align: center;
}

.header__text {
  margin-bottom: 65px;
  color: #454545;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.header__button {
  margin: 0 auto;
}

/*=======================WHY======================*/

.why {
  padding-top: 147px;
  padding-bottom: 71px;
  background: #1d1f25;
}

/*=======================WAITING========================*/

/*==============================FEEDBACK============================*/

/*==============================FOOTER============================*/

/*==============================MEDIA============================*/