doctype html
html(lang='ru')
	head
		include layout/head.pug
	body
		//HEADER
		include layout/header.pug
		//MAIN
		main.main
			//WHY
			include layout/why.pug
			//WAITING
			include layout/waiting.pug
			//FEEDBACK
			include layout/feedback.pug
		//FOOTER
		include layout/footer.pug
		include layout/scripts.pug



	