header.header
	img.bg(src="img/bg_wave.svg", alt="Wave")
	.container
		h5.header__subtitle.subtitle Бесплатный
			span тест
			|   личности
		h3.header__title Найдите свои сильные<br>и слабые
			span.accentColor  стороны
		p.header__text Отличный инструмент, чтобы помочь всем людям,<br>заинтересованным в карьере и личном развитии
		button.header__button.button Я готов пройти тест