meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="description", content="Верстка сайтов по PSD макетам, Figma на заказ. Верстка сайтов, интернет-магазинов и Landing Page (фиксированная, резиновая, адаптивная).")
meta(name="keywords", content="html, верстка, верстальщик, заказать верстку, верстка на заказ, верстка из PSD, верстка по Figma")
meta(name="author", content="Алексей Михайловский")
meta(property="og:title", content="Алексей Михайловский - HTML верстальщик | Портфолио верстальщика")
meta(property="og:image", content="http://mikhalich.su/img/Logo.png")
meta(property="og:description", content="Верстка сайтов по PSD макетам, Figma на заказ. Верстка сайтов, интернет-магазинов и Landing Page (фиксированная, резиновая, адаптивная).")
meta(property="og:url", content="http://mikhalich.su/")
meta( property="og:type", content="website")
meta( name="yandex-verification", content="eb15e809f710916f")
link(rel="stylesheet", type="text/css", href="css/animate.css")
link(rel="stylesheet", type="text/css", href="css/libs.min.css")
link(rel="stylesheet", type="text/css", href="css/fonts.css")
link(rel="stylesheet", type="text/css", href="css/main.css")
link(rel="shortcut icon", href="http://mikhalich.su/img/favicon.ico", type="image/x-icon")
//HTML5 Shim and Respond.js for IE8 support of HTML5 elements and media queries
//Предупреждение: Respond.js не работает при просмотре страницы через файл://
//[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script >
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]
title Алексей Михайловский - HTML верстальщик | Портфолио верстальщика